/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --duck: #AECDD2;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
  font-family: sans-serif;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
/* img {
  max-width: 37em; /* 600px /16 
} */
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}
/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.postlist-item:before {
  display: none;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}
.description{
  margin-bottom: 10px;
  font-size:1em;
}

/*Landing Page */
.landingHead{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.landingHead div{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
.landingTitle{
  font-size: 5em;
  margin: 0px;
  color: var(--duck);
  text-transform: uppercase;
  font-weight: 600;
}
.landingSubTitle{
  font-size: 3em;
  margin: 0px;
  color: var(--duck);
}

.me{
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.intro{
  height: 25vh;
  /* margin-top: 50px; */
  margin-bottom: 50px; 
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom: 1px dashed var(--lightgray);
}

.blurb{
  max-width: 37em;
}

/* Squares */

/* .squaresContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
} */
/* .squaresContainer li{
  text-decoration: none;
} */
/* .square{
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 400px;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  /* background-color: var(--duck);
} */
.square img{
  width: 400px;
  height: 400px;
  object-fit: contain;
  /* filter: grayscale(100%); */
}


/*Blog Section*/
.blog-section-container{
  padding-left: 15%;
  padding-right: 15%;
  display: inline-flex;
  width: 100%;
  list-style: none;
  height: 60vh;
  border-bottom: 1px dashed var(--lightgray);
}
.blog-content{
  width: 1000px;
  overflow: scroll;
}
.blog{
 margin-left: 20px;
 margin-right: 20px;
}

.apprentice-section{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: flex-end
}
.tag-section h1{
  display: flex;
  justify-content: flex-end;
}
.apprentice-blog{
  width: 80%;
}

/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6875em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/*Markdown*/
.posts{
  height: 100%;
}

/* .markDowns{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

/* .markDowns p{
  text-align: center;
} */


/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
/*Contact*/
.form-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1300px){
  .blog-section-container{
    padding-left: 5%;
    padding-right: 5%;
  }
    .square{
      margin: 50px;
      width: 300px;
      height: 300px;
    }
    .square img{
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
}
@media screen and (max-width: 975px){
  .me{
    width: 250px;
    height: 250px;
  }
  .landingTitle{
    font-size: 3em;
    margin: 0px;
    color: var(--duck);
    text-transform: uppercase;
    font-weight: 600;
  }
  .landingSubTitle{
    font-size: 2em;
    margin: 0px;
    color: var(--duck);
  }
  .intro{
    height: 15vh;
    /* margin-top: 50px; */
    margin-bottom: 50px; 
    font-size: 1em;
  }
  .blog-section-container{
    display: flex;
    flex-direction:column ;
    width: 100%;
    height: 160vh;
  }
  .blog-content{
    overflow: auto;
    height: 60vh;
  }
  .postlist-item{
    width: 60%;    
  }
  .apprentice-section{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.tag-section{
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: baseline;
}
  /* .blog{
    margin: 40px;
  } */
  /* .squaresContainer{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    height: 145vh;
  }
  .square{
    margin: 50px;
    width: 250px;
    height: 250px;
  }
  .square img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    /* filter: grayscale(100%); 
  } */
};

/*Form*/
.formContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

}
form{
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 33%;
  border-radius: 30px;
}
form input{
  width: 40vh;
  height: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
textarea{
  padding: 0px;
  width: 40vh;
  margin-bottom: 10px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 700px){
  .me{
    width: 175px;
    height: 175px;
    border-radius: 100%;
  }
  .landingTitle{
    font-size: 1.4em;
    color: var(--duck);
    text-transform: uppercase;
  }
  .landingSubTitle{
    font-size: 1em;
    margin-bottom: 10px;
    color: var(--duck);
  }
  .blurb{
    font-size: 13px;
  }
  .blog-section-container{
    height: 120vh;
  }
  .blog-content{
    height: 200vh;
  }
  .blog{
    margin: 10px;
  }
  form{
    width: 100%;
  }
  form input{
    width: 250px;
    height: 30px;
  }
  form textarea{
    width: 250px;
    height: 100px;
  }
}

@media screen and (max-width: 415px){
  .landingTitle{
    font-size: 1.5em;
  }
  .landingSubTitle{
    font-size: 1em;
  }
  .me{
    width: 150px;
    height: 150px;
  }
  .intro{
    height: 15vh;
    font-size: 0.75em;
  }
  .blog-section-container{
    display: flex;
    flex-direction:column;
    margin: 0px;
    padding: 10px;
    width: 100%;
    height: 140vh;
  }
  .blog{
    margin: 10px;
  }
  .squaresContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130vh;
    padding: 0px;
  }
};