---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<section class="landingHead">
<div>
<p class="landingTitle">Louise Learns{{typewriter}}</p>
<p class="landingSubTitle">Follow me as I learn to code</p>
</div>
 <img src="img/landing/25461.jpg" class="me"></img> 
</section>
<section class="intro">
<p class="blurb">Join me on my journey as a Junior Software Engineer. 
I am currently a full time enginner and full time student, working through the BCS Level 4 Software Enineering Apprenticeship.</p>
</section>

{# <section class="neonSection">
<p class="neon">
Welcome
</p>
</section>  #}


<ul class="content"> 
<li class="blog">
 {% set maxPosts = collections.posts.length | min(4) %}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the apprenticeship section</a>.</p>
</li>

 <li class="blog">
 {% set maxPosts = collections.resource.length | min(4) %} 
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

 {% set resourcelist = collections.resource | head(-4) %}
 
{% set resourcelistCounter = collections.resources | length %}
{% include "resourcelist.njk" %}

<p>More posts can be found in <a href="{{ '/resources/' | url }}">the resources section</a>.</p>
</li> 

</ul>

<section class="squaresContainer">

{# <section class="homePageAnchorLinks"> #}
{# <ul class="squaresContainer">
 {% set maxPosts = collections.projects.length | min(3) %}  #}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

 {# {% set projectlist = collections.project | head(-3) %}
 
{% set resourcelistCounter = collections.projects | length %}
{% include "projectlist.njk" %}

<p>More posts can be found in <a href="{{ '/resources/' | url }}">the resources section</a>.</p>
#}

<li class="square">
<a href="/projects/">
<h2>Projects</h2>
<img src="img/landing/5.jpeg">
</a>
</li>

<li class="square">
<a href="/news/">
<h2>News</h2>
<img src="img/landing/4.jpeg"></img>
</a>
</li>

<li class="square">
<a href="/hobbies/">
<h2>Hobbies</h2>
<img src="img/landing/2.jpeg"></img>
</a>
</li>

</ul>
</section>   

{{contentful}}
