---
layout: layouts/home.njk
---
{# pagination:
  size: 1
  alias: page #}
{# eleventyNavigation:
  key: Home
  order: 1 #}

<section class="landingHead">
<div>
<h2 class="landingTitle">Michael Gilligan’s Design Portfolio of Work</h2>
<p class="landingSubTitle">Created During My Time at Manchester
Metropolitan University 2019-2022

Design Engineering BSc</p>
</div>
</section>
<section class="intro">
<p class="blurb">My name is Michael Gilligan and am currently a freelance design engineer, beneath is the
work that I created on the solidworks program and in the workshop using 3D printing
machines available program throughout my time at university, due to covid restrictions
during my time at university many of these designs have only been created through CAD,
but I have experience in a workshop environment from my time at college. My skillsets
include a wide variety of Solidworks and Autodesk programs, I am very well equipped to use
the Microsoft packages such as word, PowerPoint and excel, please feel free to look through
my work that I have created at university on this portfolio of such work.
All work has been created with association of Manchester Metropolitan University (MMU)
be that lecturer or any staff or student member who was willing to give advice for the
completion of the work.
I can be contacted on certain areas to give words on my work or to take any feedback that
you may have as a reader.
<ul class="contact">
   <li> <a href = "mailto: michaelgilligan@gmail.co.uk">michaelgilligan@gmail.co.uk</a></li>
   <li><a href = "mailto: michaelgilligan@gmail.co.uk">Linkedin: Michael Gilligan</a></li>  
</ul>
</section>

{# <section class="neonSection">
<p class="neon">
Welcome
</p>
</section>  #}

<main class="blog-section-container">
<section class="blog-content">
 <li class="blog">
 {% set maxPosts = collections.resource.length | min(6) %} 
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

 {% set resourcelist = collections.resource | head(-4) %}

{% set resourcelistCounter = collections.resources | length %}
{% include "resourcelist.njk" %}

</li> 
</section>

<section class="apprentice-section">
<section class="tag-section">
{% for tag in collections.tagList | filterTagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</section>
<li class="apprentice-blog">
 {% set maxPosts = collections.posts.length | min(4) %}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

{% set postslist = collections.posts | head(-4) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the apprenticeship section</a>.</p>
</li>
</section>





</main>