---
layout: layouts/home.njk
  
---

{# eleventyNavigation:
  order: 1
  key: Projects #}
<h1>Software Development Projects</h1>
<section class="squaresContainer">

{# <section class="homePageAnchorLinks"> #}
{# <ul class="squaresContainer">
 {% set maxPosts = collections.projects.length | min(3) %}  #}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

 {# {% set projectlist = collections.project | head(-3) %}
 
{% set resourcelistCounter = collections.projects | length %}
{% include "projectlist.njk" %}

<p>More posts can be found in <a href="{{ '/resources/' | url }}">the resources section</a>.</p>
#}
<ul class="squaresContainer">

{# <section class="homePageAnchorLinks"> #}
{# <ul class="squaresContainer">
 {% set maxPosts = collections.projects.length | min(3) %}  #}
{# <h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1> #}

 {# {% set projectlist = collections.project | head(-3) %}
 
{% set resourcelistCounter = collections.projects | length %}
{% include "projectlist.njk" %}

<p>More posts can be found in <a href="{{ '/resources/' | url }}">the resources section</a>.</p>
#}

<li class="square">
<a href="/projects/kbl-solutions">
<h2>KBl Solutions</h2>
<img src="/img/kblSolutions/1.jpg">
</a>
</li>
<li class="square">
<a href="/projects/museum-meltdown">
<h2>Museum Meltdown</h2>
<img src="/img/accessibility/18.jpg"></img>
</a>
</li>
</ul>
</ul>
</section>  