
<h1>BCS Software Engineering Level 4 Apprenticeship</h1>

<p>My experience of the BCS Software Engineering Level 4 Apprenticeship with some hints and tips I've picked up along the way . </p>

<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    {# <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>#}
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <li><a href="{{ tagUrl | url }}" class="post-tag apprenticeship-tag">{{ tag }}</a></li>
    {% endfor %} 
  </li>
{% endfor %}
</ol>
